<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/contacts.css">

    <title>Inicio</title>
</head>
<body>
    <header class="header">
        
    </header>


    <main class="main">

        <section class="card-backgd">
            <!-- <section class="cover">
                <img src="https://picsum.photos/200/300" alt="photo">
                <img src="https://picsum.photos/200/300" alt="photo">
                <img src="https://picsum.photos/200/300" alt="photo">
                <img src="https://picsum.photos/200/300" alt="photo">
            </section> -->
            <section class="card-contact">
                <div id="photo">
                    <img src="https://picsum.photos/200/300" alt="photo">
                    <p>Genaro Juarez Martinez</p>
                </div>
                <div id="info">
                    <p>
                        Laboratorio Internacional de ciencias
                        de la computacion (LCOOMP)
                    </p>
                    <p>Laboratorio de vida Artifical y Robotica (ALIROB)</p>
                    <p>Escuela Superior de Computo</p>
                    <br>
                    <p>
                        Instituto Politecnico Nacional <br>
                        AV. Juan de Dios Batiz S/N<br>
                        Col. Lindavista <br>
                        C.P 07738 - Mexico DF <br>
                        
                    </p>

                    <p>
                        Salon 1007. Edificio 1. <br>
                        Tel. +52 557296000 Ext. 52067 <br>
                        E-MAIL: <a href="mailto:alirob.ipn@gmail.com">alirob.ipn@gmail.com</a>    
                    </p>
                    
                </div>
            </section>
        </section>
        
    </main>


    <footer class="footer">
    </footer>

    <script src="src/js/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function(){
            $(".header").load("partials/header.html");
            $(".footer").load("partials/footer.html");
        });
    </script>
</body>
</html>