<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet"  type="text/css" href="../css/main_section.css">
    <link rel="stylesheet"  type="text/css" href="../css/footer.css">
    <link rel="stylesheet"  type="text/css" href="../css/nav.css">
    <link rel="stylesheet" type="text/css" href="../css/gallery.css">


    <!-- Fuentes -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Fuentes -->

    <title>Galeria</title>
</head>
<body>


    <header class="header">
        <div class="container" id="menu">
            
            <a href="/" class="logo">MCE</a>

            <div class="menu-icon" id="menu">
                <div class="menu-btn__burger"></div>
            </div>

            
          <!--   <span class="menu-icon" id="menu">Menu</span> -->
            <nav class="navigation" id="navigation">
                <menu class="sup">
                    <ul>
                        <li><a href='/participants'>Participants</a></li>
                        <li><a href="/grants">Grants</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </menu>
                <menu class="inf">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="#">Museo</a></li>
                        <li><a href="/galeria">Galeria</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </menu>
            </nav>
            
        </div>
    </header>

    <main class="gallery">
        <div class="grid-container">
                <div class="img-figure">
                    <img src="https://picsum.photos/300/300" alt="imagen1">
                </div>
                <div class="content">
                    <div>
                        <h2>MAcbook</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis id incidunt? Ipsum consequuntur tenetur distinctio facere facilis, fugit repudiandae inventore, maxime ad nisi vel asperiores commodi dolorem necessitatibus doloremque?
                            Laboriosam totam impe
                        </p>
                    </div>
                </div>
        </div>

        <div class="grid-container">
                <div class="img-figure">
                    <img src="https://picsum.photos/300/300" alt="imagen1">
                </div>
                <div class="content">
                    <div>
                        <h2>MAcbook</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis id incidunt? Ipsum consequuntur tenetur distinctio facere facilis, fugit repudiandae inventore, maxime ad nisi vel asperiores commodi dolorem necessitatibus doloremque?
                            Laboriosam totam impe
                        </p>
                    </div>
                </div>
        </div>

        <div class="grid-container">
            <div class="img-figure">
                <img src="https://picsum.photos/300/300" alt="imagen1">
            </div>
            <div class="content">
                <div>
                    <h2>MAcbook</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis id incidunt? Ipsum consequuntur tenetur distinctio facere facilis, fugit repudiandae inventore, maxime ad nisi vel asperiores commodi dolorem necessitatibus doloremque?
                        Laboriosam totam impe
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-container">
            <div class="img-figure">
                <img src="https://picsum.photos/300/300" alt="imagen1">
            </div>
            <div class="content">
                <div>
                    <h2>MAcbook</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis id incidunt? Ipsum consequuntur tenetur distinctio facere facilis, fugit repudiandae inventore, maxime ad nisi vel asperiores commodi dolorem necessitatibus doloremque?
                        Laboriosam totam impe
                    </p>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="img-figure">
                <img src="https://picsum.photos/300/300" alt="imagen1">
            </div>
            <div class="content">
                <div>
                    <h2>MAcbook</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis id incidunt? Ipsum consequuntur tenetur distinctio facere facilis, fugit repudiandae inventore, maxime ad nisi vel asperiores commodi dolorem necessitatibus doloremque?
                        Laboriosam totam impe
                    </p>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="img-figure">
                <img src="https://picsum.photos/300/300" alt="imagen1">
            </div>
            <div class="content">
                <div>
                    <h2>MAcbook</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis id incidunt? Ipsum consequuntur tenetur distinctio facere facilis, fugit repudiandae inventore, maxime ad nisi vel asperiores commodi dolorem necessitatibus doloremque?
                        Laboriosam totam impe
                    </p>
                </div>
            </div>
        </div>
    </main>


    <footer class="footer">
            
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function(){
            //$(".header").load("views/partials/header.html");
            $(".footer").load("/views/partials/footer.html");
        });
    </script>
    <script src="../js/nav.js"></script>
</body>
</html>