<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/grants.css">
    <link rel="stylesheet"  type="text/css" href="../css/footer.css">
    <link rel="stylesheet"  type="text/css" href="../css/nav.css">

    <!-- Fuentes -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Fuentes -->
    
    <title>Grants</title>
</head>
<body>
    <header class="header">
        <div class="container" id="menu">
            
            <a href="/" class="logo">MCE</a>

            <div class="menu-icon" id="menu">
                <div class="menu-btn__burger"></div>
            </div>

            
          <!--   <span class="menu-icon" id="menu">Menu</span> -->
            <nav class="navigation" id="navigation">
                <menu class="sup">
                    <ul>
                        <li><a href='/participants'>Participants</a></li>
                        <li><a href="/grants">Grants</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </menu>
                <menu class="inf">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="#">Museo</a></li>
                        <li><a href="/galeria">Galeria</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </menu>
            </nav>
            
        </div>
    </header>


    <main class="main">
        <section id="title">
            <p>GRANTS</p>
        </section>

        <section class="cards">
            <div class="card-self">
                <section id="imagen">
                    <figure>
                        <img src="https://picsum.photos/352/300" alt="photo">
                    </figure>
                </section>
                
               <section id="des">
                    <p id="title-card">
                        Proyecto Transdiciplinario IPN 
                    </p><br/>
                    <p id="des-card">
                        Sistema de vigilancia autónomo y dinámico 
                        en las escuelas del IPN a trvés de robots basados en sistemas complejos
                    </p>
                    <br/>

                    <hr>
                    
                        <table>
                            <thead>
                                <th id="num">Núm</th>
                                <th>Ubicacion</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>20170299</td>
                                    <td>México, 2017-2018</td>
                                </tr>
                            </tbody>
                        </table>
                    
               </section>
                
            </div>

            <div class="card-self">
                <section id="imagen">
                    <figure>
                        <img src="https://picsum.photos/352/300" alt="photo">
                    </figure>
                </section>
                <section id="des">
                    <p id="title-card">
                        Proyecto de Investigación IPN
                    </p>
                    <br/>
                    <p id="des-card">
                        Control de sistemas complejos a través de medios no lineales
                        para la solución de movilidad poblacional
                    </p> 
                    <br>
                    <hr>
                    <table>
                        <thead>
                            <th id="num">Núm</th>
                            <th>Ubicacion</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>20196419</td>
                                <td>México, 2019</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                
            </div>
        </section>
    </main>


    <footer class="footer">
        
    </footer>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function(){
            //$(".header").load("partials/header.html");
            $(".footer").load("/views/partials/footer.html");
        });
    </script>
    <script src="../js/nav.js"></script>
</body>
</html>