<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/grants.css">
    
    <title>Inicio</title>
</head>
<body>
    <header class="header">
       
    </header>


    <main class="main">
        <section class="cards">
            <div class="card-self">
                <figure>
                    <img src="https://picsum.photos/200/300" alt="photo">
                </figure>
               
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus est quaerat quisquam ipsa, blanditiis delectus, eum beatae ea dolores libero quas odio incidunt at</p>
            </div>
            <div class="card-self">
                <figure>
                    <img src="https://picsum.photos/200/300" alt="photo">
                </figure>
                
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus est quaerat quisquam ipsa, blanditiis delectus, eum beatae ea dolores libero quas odio incidunt at</p>
            </div>
        </section>
    </main>


    <footer class="footer">
        
    </footer>

    <script src="src/js/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function(){
            $(".header").load("partials/header.html");
            $(".footer").load("partials/footer.html");
        });
    </script>
</body>
</html>