<div class="container">
    <a href="/src/index.html" class="logo">MCE</a>
    <nav class="navigation">
        <menu class="sup">
            <ul>
                <li><a href='src/views/participants.html'>Participants</a></li>
                <li><a href="src/views/grants.html">Grants</a></li>
                <li><a href="src/views/contact.html">Contact</a></li>
            </ul>
        </menu>
        <menu class="inf">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Museo</a></li>
                <li><a href="#">Galeria</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Inicio</a></li>
            </ul>
        </menu>
    </nav>
    
</div>