#btn-parts{
    background-color:steelblue;
    width: 100px;
    height: 60px;
    color: white;
}

#t1{
   background-color:lightcoral;
   display: block;
}

#t2{
    background-color:rgb(147, 240, 128);
    display: none;
}

#t3{
    background-color:rgb(128, 180, 240);
    display: none;
}