*{
    margin: 0;
    padding: 0;
}

:root{
    --title_color: #005DEA;
}

body{
    /* Establecer los estilos de la pagina web
    font-family */
    /* background-color: #6494ed1f ; */
}

/*MAIN*/

.slider{
    background-color: red;
    width: 100%;
    height: 85vh;
}

.slider img{
    width: 100%;
    height: 85vh;
}

