/**************************/
/*Nav-Bar*/
/**************************/

.logo{
    font-family: 'Rubik';
    font-size: 60px;
    text-decoration: none;
    color: #005DEA;
    font-weight: bold;
    margin-left: 30px;
}


.header{
    background-color: #F0F8FF;
}

.container{
    display:flex;
    justify-content: space-between;
}

.navigation{
    margin: 0;
}

.navigation .inf{
    height: 7vh;
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
}


.navigation .inf a{
    text-decoration: none;
    color: black; 
    margin: 20px;
}

.navigation .inf ul{
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
}

.navigation .inf li{  
    display: inline-block;
    margin: 0px;
    height: 30px;
   
}

.navigation .inf li:hover{
    border-bottom: 5px #005DEA solid;
} 


.navigation .sup{
    height: 3vh;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}


.navigation .sup a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.712); 
    margin: 0 10px;
}

.navigation .sup ul{
    text-align: center;
    font-size: 0.85em;
    text-transform: uppercase;
}

.navigation .sup li{
    display: inline-block;
    margin: 0px;
} 
